{{define "title"}}GSA Aftercare{{end}}
{{define "head"}}{{JS "static/js/angular.min.js"}}{{end}}
{{define "content"}}

<div ng-app="aftercareApp" class="container">
	<div class="page-header">
		<h1>Hello, {{.first_name}}</h1>
	</div>
	<p>You have arrived to the students list page.</p>

	<div ng-controller="StudentCtrl">
        <div>
			<div class="row">
				<div class="form-group">
			    	<input class="col-xs-6 form-control" type="text" placeholder="Search by students ID, First and Last Name, Grade" ng-model="query">
				</div>
				<br>
			</div>
			<div class="row">
			    <table id="results" class="table table-striped table-bordered table-hover">
			        <thead>
			        <tr class="success">
			            <th>ID</th>
			            <th>Last Name</th>
			            <th>First Name</th>
						<th>Grade</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr ng-repeat="student in students | filter: search ">
			            <td id="Student_id">{{"{{"}}student.Student_id{{"}}"}}</td>
			            <td id="Last_name">{{"{{"}}student.Last_name{{"}}"}}</td>
			            <td id="First_name">{{"{{"}}student.First_name{{"}}"}}</td>
						<td id="Grade">{{"{{"}}student.Grade{{"}}"}}</td>
			        </tr>
			        </tbody>
			    </table>
			</div>
        </div>
	</div>
	{{template "footer" .}}
</div>
{{JS "static/js/app.js"}}
{{end}}
{{define "foot"}}{{end}}
