{{define "title"}}GSA Aftercare{{end}}
{{define "head"}}
{{CSS "static/css/custom.css"}}
{{JS "static/js/angular.js"}}
{{JS "static/js/angular-resource.js"}}
{{end}}
{{define "content"}}
<div class="container">

    <div ng-controller="ClockinCtrl" ng-cloak>
        <div class="row">
            <form class="form-inline">
                <div class="form-group" title="Date From">
                    <label class="sr-only" for="start_date">From:</label>
                    <input type="date" class="form-control" id="start_date"
                        ng-model="dateRange.from" placeholder="Start date">
                </div>
                <div class="form-group" title="Date To">
                    <label class="sr-only" for="end_date">To:</label>
                    <input type="date" class="form-control" id="end_date"
                        ng-model="dateRange.to" placeholder="End date">
                </div>
            </form>
            <br>
        </div>
        <div class="row">
            <table id="results" class="col-xs-6 col-md-8 table table-striped table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>Clock IN</th>
                        <th>Clock OUT</th>
                        <th>TotalTime</th>
                        <th>Out of School?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="clockin in Clockins | dateRangeFilter:dateRange.from:dateRange.to">
                        <td>[[clockin.InAt*1000 | date:'medium']]</td>
                        <td>[[clockin.OutAt*1000 | date:'medium']]</td>
                        <td>[[clockin.TotalTime]]</td>
                        <td>[[clockin.IsOut]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--  Angular Material Library
{{JS "static/js/angular-animate.min.js"}}
{{JS "static/js/angular-aria.min.js"}}
{{JS "static/js/angular-messages.min.js"}}
{{JS "static/js/angular-material.min.js"}}
-->
{{JS "static/js/app.js"}}

{{end}}
{{define "foot"}}{{end}}
